@font-face {
font-family: helveticaRoman;
src: url('../fonts/HelveticaLtStdRoman.otf');
}
@font-face {
font-family: helveticaNeue;
src: url('../fonts/HelveticaNeueLTStdThCn.otf');
}
*{
margin:0px;
padding:0px;
}
.background-div{
height: fit-content;
width: 1277px;
background:url('../images/background.png');
margin-left: auto;
margin-right: auto;
padding-top: 35px;
}
.container{
height: fit-content;
width: 955px;
background: white;
margin-left: auto;
margin-right: auto;
filter: drop-shadow(0px 0px 5px black);
}
.logo-signin-div{
width: 955px;
height: 155px;
position:relative;
}
.logo-div{
float: left;
width: 120px;
height: 155px;
background: white;
}
.logo-img{
height: 68px;
margin-top: 10px;
width: 43px;
display: block;
margin-left: auto;
margin-right: auto;
}
#logo-p-1{
font-family: helveticaRoman;
color: #810081;
font-size: 32;
text-align: center;
font-weight: bold;
text-transform:uppercase;
}
#logo-p-2{
font-family: helveticaNeue;
color: #912091;
font-size: 31;
text-align: center;
margin-top: -9px;
text-transform:uppercase;
}
.customer-service{
float: right;
height: fit-content;
min-height: 25;
width: 432px;
margin-top: 15px;
display: flex;
}
.customer-span{
font-family: verdana;
font-size: 12px;
display: inline-block;
height: 20px;
padding-top: 5px;
}
.customer-span a{
text-decoration: none;
color: black;
}
.customer-span a:hover{
color: #29048e;
}
.currency-div, .lang-div{
height: 18px;
width: 78px;
background: #f7f7f7;
padding-top: 5px;
padding-left: 10px;
margin-left: 18px;
cursor: pointer;
position: relative;
border: 1px solid #ddd;
}
.currency-div span,.lang-div span{
font-family: verdana;
font-size: 12px;
color: #810081;
} 
.currency-div img, .lang-div img{
position: absolute;
right: 5px;
top: 9px;
} 
.lang-div{
margin-left: 9px;
}
.currency-div:hover, .lang-div:hover{
background: #ecc1c1;
}
.account-div{
min-height: 20px;
min-width: 250px;
position: absolute;
right: 0;
top: 54;
width: fit-content;
max-width: 430px;
}
.account-div::after {
content: "";
display: block;
clear: both;
}
.account-div span{
font-family: verdana;
font-size: 12px;
}
#visitior{
font-family: verdana;
font-size: 12px;
display:inline-block;
vertical-align:top;
margin-top:4px;
}
.account-div span a{
color: #1088e4;
margin-top: 4px;
display: inline-block;
}
.account-div span a:hover{
color: #29048e;;
}

.acc-link-div{
display: inline-block;
vertical-align: top;
height: fit-content;
max-width: 355px;
//background: aqua;
width: fit-content;
margin-right: 12px;
line-height: 12px;
}
.cart-div{
height: 42px;
width: 225px;
background: #f7f7f7;
position: absolute;
right: 11px;
bottom: 24;
border: 1px solid #ddd;
cursor:pointer;
}
.cart-div:hover{
background: #ecc1c1;
transition: all .2s ease-in;
}
.cart-div img{
margin-top: 8px;
margin-left: 8px;
vertical-align: middle;
}
.cart-span{
display: inline-block;
color: #b218b2;
vertical-align: middle;
margin-top: 9px;
font-family: verdana;
font-size: 12px;
margin-left: 16px;
font-weight: bold;
}
.after-nav-line-div{
width: 931px;
height: 2px;
background: #f5efea;
margin-left: auto;
margin-right: auto;
}
.navbar-div{
width: 934px;
min-height: 42px;
height: fit-content;
background: #f7def7;
margin-top: 5;
}
.navlink-ul{
list-style: none;
font-size:0;
}
.navbar-div a{
color: #932d93;
font-family: helveticaRoman;
font-size: 15px;
}
.navlink-ul li{
display: inline-block;
padding-top: 12px;
padding-bottom: 12px;
border-left: 2px solid white;
padding-left: 23.25px;
padding-right: 23.25px;
border-bottom: 2px solid white;
}
.navlink-ul li:hover{
background:#ecc1c1;
}
.big-navbar{
width: 932px;
margin-left: 10px;
overflow: hidden;
}
.search-div{
width: 929px;
//background: #b76e0d;
min-height: 26;
margin-left: auto;
margin-right: auto;
margin-top: 9px;
height: fit-content;
}
.link-bar-div{
width: 400;
min-height: 21px;
color: #810081;
font-family: verdana;
font-size: 12px;
vertical-align: middle;
display: inline-block;
padding-top: 5px;
max-width: 508px;
height: fit-content;
}
.link-bar-div a{
text-decoration:none;
color: #810081;
font-family:verdana;
}
.link-bar-div a:hover{
color: #29048e;
}
.search-div-right{
height: 26px;
width: 245px;
float: right;
}
.search-btn-div{
background: #c06ebd;
height: 20px;
width: 20;
border: 1px solid #b9b9b9;
float: right;
padding-left: 5px;
padding-top: 4px;
cursor: pointer;
}
.search-btn-div:hover{
background: #ecc1c1;
transition: all .1s ease-in;
}
.search{
padding-top: 4.5px;
padding-bottom: 4.5px;
border: 1px solid #bababa;
padding-left: 10px;
width: 218px;
box-shadow: inset 1px 1px 1px #bababa;
border-right: 0px;
background: #fbfbfb;
color: #9b979b;
}
.search:focus{
outline:none;
}
.gellery-main-div{
height: 344px;
width: 955px;
background: antiquewhite;
margin-top: 10px;
background:url('../images/background-1.png');
position: relative;
}
.top-icon-bg{
position: absolute;
top: 42%;
cursor:pointer;
transition: all .2s ease-in;
}
.top-icons{
position: absolute;
top: 46.5%;
z-index:2;
cursor:pointer;
transition: all .2s ease-in;
}
.top-prev{
left:15px;
}
.top-next{
right:15px;
}
.top-icon-bg-next{
right:5px;
}
.top-icon-bg-prev{
left:5px;
}
.main-slider-div{
min-height: 344px;
width: 774px;
height: fit-content;
//background: grey;
margin-left: auto;
margin-right: auto;
white-space: nowrap;
font-size: 0;
overflow:hidden;
scroll-behavior: smooth;
}
.sliders-div{
min-height: 344px;
width: 774px;
height: fit-content;
//background: brown;
font-size: 0px;
display:inline-block;
vertical-align: top;
}
.slider-image-div{
min-height: 344px;
width: 402px;
//background: antiquewhite;
display: inline-block;
vertical-align: top;
height: fit-content;
}
.slider-text-div{
min-height: 344px;
height: fit-content;
width: 321px;
//background: grey;
display: inline-block;
vertical-align: top;
font-size: 10px;
margin-left: 10px;
}
.slider-image-img{
margin-top:40px;
}
.slider-heading1,.slider-heading2{
font-family: helveticaRoman;
color: #650265;
font-size: 23px;
text-transform: uppercase;
display: inline-block;
}
.slider-heading2{
color: #810081;
margin-left: 10px;
}
.slider-heading1 span,.slider-heading2 span{
font-size:35px;
}
.heading-div{
margin-top: 50px;
}
.content-slider-p{
//background: aliceblue;
}
.slider-content-div{
//background: antiquewhite;
height: fit-content;
min-height: 83px;
width: 321px;
white-space: normal;
padding-bottom: 15px;
}
.slider-content-p{
font-family: verdana;
font-size: 13px;
margin-top: 7px;
color: #911c91;
}
.buy-btn span{
text-transform: uppercase;
font-size: 16px;
}
.btn-div{
height: 44px;
width: 133px;
margin-left: auto;
margin-right: auto;
background: #e5bae8;
padding-top: 7px;
border-radius: 10px;
}
.buy-btn{
height: 35px;
width: 118px;
border: 0px;
display: block;
margin-left: auto;
margin-right: auto;
color: white;
background-image: linear-gradient(#e670e8,#aa4aa5);
border-radius: 5px;
font-family: helveticaRoman;
cursor:pointer;
transition: all .3s ease-in;
}
.buy-btn:hover{
background-image: linear-gradient(#582559,#fb6cf3);
}






























.dots-main-div{
width: 283px;
height: 20px;
//background: antiquewhite;
margin-top: 17px;
margin-left: auto;
margin-right: auto;
position:relative;
}
.dots-line-div{
position: absolute;
height: 1px;
width: 283px;
background: #d7bedc;
top: 10px;
}
.dots{
position: absolute;
height: 16px;
width: 16px;
background-image: linear-gradient(#ea91ea,#c177be);
border-radius: 50%;
border: 1px solid #be78c5;
top: 1px;
cursor: pointer;
}
.dots:hover{
transform:scale(1.2);
transition:all .1s ease-in;
}
.dot2{
left:32%;
}
.dot3{
left:64%;
}
.dot4{
left:95%;
}
.inner-dot{
height: 0px;
width: 0px;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
margin-top: 4px;
transition: all .2s ease-in;
}
.about-div{
//background: rebeccapurple;
width: 897px;
height: fit-content;
min-height: 300px;
margin-top: 15px;
margin-left: 20px;
}
.about-content{
height: fit-content;
min-height: 300px;
width: 275px;
//background: antiquewhite;
padding-top: 6px;
display: inline-block;
vertical-align: top;
}
.dotted-line-div {
background-image: repeating-linear-gradient(to right, transparent, transparent 0px, #dac4d9 3px, #dac4d9 8px);
height: 2px;
width: 275px;
}
.about-heading-p{
font-family: helveticaRoman;
color: #5d015c;
font-size:15px;
padding-bottom: 6px;
}
.about-heading-p span{
font-size:14px;
}
.content-div-about{
height: fit-content;
min-height: 196px;
width: 275px;
//background: aqua;
margin-top: 17px;
}
.content-p{
font-family: verdana;
font-size: 12px;
line-height: 18px;
text-align: left;
color:#4a494a;
}
.read-more{
font-family: verdana;
font-siZe: 12px;
float: right;
margin-top: 20px;
margin-right: 20px;
color: #9c309a;
}
.read-more:hover{
color: #29048e;
}
.product-div{
width: 591px;
min-height: 306px;
display: inline-block;
//background: aqua;
vertical-align: top;
margin-left: 27px;
height: fit-content;
}
.product-details-div{
min-height: 306PX;
width: 260px;
background: #f2c9f2;
display: inline-block;
vertical-align: top;
margin-left: 30px;
height: fit-content;
cursor:pointer;
}
.product-details-div:hover{
transform: scale(1.02);
transition: all 0.2s ease-in;
box-shadow: 0px 0px 3px black;
}
.top-product-div{
height: 5px;
width: 260px;
background: #5d015c;
}
.product-img{
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 5px;
border: 2px solid #f8e0f8;
cursor:pointer;
}
.product-details-p-div{
//background: rebeccapurple;
min-height: 50px;
height: fit-content;
width: 247px;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 5px;
}
.product-heading-p{
font-family: helveticaRoman;
color: #670e66;
}
.product-price-p{
font-family: helveticaRoman;
color: #b910b7;
margin-top: 4px;
}
.view-all-a{
color: #9c309a;
font-family: verdana;
font-size: 12px;
text-align: end;
display: block;
margin-top: 15px;
margin-bottom: 15px;
margin-right: 8px;
}
.view-all-a:hover{
color: #29048e;
}
.main-sponcers-box{
height: 108px;
width: 955px;
background: url('../images/background-2.png');
margin-top: 52px;
position:relative;
}
.shadow-box{
height: 107px;
width: 754px;
//background: rebeccapurple;
border-radius: 50%;
position: absolute;
left: 10%;
top: 0px;
box-shadow: 0px 0px 7px gray;
z-index: -1;
}
.border-sponcers-div{
height: 100px;
width: 953px;
position: absolute;
top: 3;
border: 1px solid #e5e5e5;
}
.spocers-img-div{
height: 100px;
width: 600px;
//background: rebeccapurple;
padding-top: 5px;
margin-left: auto;
margin-right: auto;
font-size: 0px;
white-space: nowrap;
overflow: hidden;
position: absolute;
left: 18.5%;
scroll-behavior: smooth;
}
.icons{
position: absolute;
top: 41%;
cursor:pointer;
}
.next{
left: 86%;
}
.next-div{
height: 107px;
position: absolute;
width: 134px;
}
.prev-div{
height: 107px;
position: absolute;
width: 134px;
}
.prev-icon{
left: 90%;
}
.icon-divs{
cursor:pointer
}
.sponcers-imgs-div{
height: 100px;
width: 100px;
//background: antiquewhite;
display: inline-block;
vertical-align: top;
margin-left: 25px;
cursor:pointer;
}
.sponcers-imgs{
height: 80px;
width: 80px;
object-fit: contain;
margin-top: 10px;
margin-left: 5px;
}
.sponcers-imgs:hover{
transform:scale(1.1);
transition:all .2s ease-in;
}
.subscribe-div{
position: relative;
min-height: 45px;
height:fit-content;
width: 955px;
background: url('../images/background-2.png');
margin-top: 50px;
padding-top: 5px;
padding-bottom: 5px;
}
.shadow-subcribe-div{
position: absolute;
//height: 50px;
width: 700px;
border-radius: 50%;
box-shadow: 0px 0px 5px gray;
left: 16%;
z-index: -1;
top: 0;
}
.subscribe-border-div{
min-height: 40px;
height:fit-content;
width: 953px;
border: 1px solid #e8e8e8;
}
.subscribe-p{
min-height: 28px;
height: fit-content;
display: inline-block;
vertical-align: top;
width: 190px;
//background: aqua;
margin-left: 143px;
font-family: verdana;
font-size: 12px;
font-weight: bold;
letter-spacing: 0.3px;
color: #b14bb1;
padding-top: 15px;
}
.subscribe-email{
height: 43px;
width: 310px;
//background: rebeccapurple;
display: inline-block;
vertical-align: top;
margin-left: 15px;
}
.sub-email{
font-family: verdana;
border: 5px solid #eaeaea;
border-radius: 4px;
box-shadow: inset 2px 2px 2px gray;
font-size: 12px;
color: #8f8d8f;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 4px;
padding-left: 10px;
width: 200px;
}
.sub-email:focus{
outline:none;
}
.sub-btn{
height: 30px;
width: 100px;
border: 1px solid #b211b0;
background-image: linear-gradient(#f36ef3, #e73be9);
cursor: pointer;
font-family: helveticaRoman;
color: white;
font-size: 11px;
letter-spacing: .9px;
text-shadow: 0px 0px 1px #ee49f0;
}
.sub-btn:hover{
background-image: linear-gradient(#fd73fb, #8a2b72);
}
.social-links-div{
height: fit-content;
min-height: 33px;
width: 232px;
//background: rebeccapurple;
display: inline-block;
vertical-align: top;
margin-left: 43px;
font-size: 0px;
padding-bottom: 10px;
}
.social-img{
margin-top: 10px;
margin-left: 5px;
cursor:pointer;
}
.social-img:hover{
transform:scale(1.2);
transition:all .1s ease-in;
}
.footer{
width: 955px;
background: url('../images/background-1.png');
min-height: 295px;
margin-top: 40px;
padding-top:1px;
height: fit-content;
}
.footer-links-main-div{
width: 880px;
min-height: 150px;
height: fit-content;
//background: #557fe3;
margin-top: 34px;
font-size: 0px;
margin-left: auto;
margin-right: auto;
}
.footer-link-sub-div-1{
width: 160px;
min-height: 150px;
height: fit-content;
//background: #b97196;
display: inline-block;
vertical-align: top;
font-size: 10px;
}
.footer-link-sub-div-2{
width: 180px;
min-height: 150px;
height: fit-content;
//background: #80542e;
display: inline-block;
vertical-align: top;
font-size: 10px;
margin-left: 75px;
}
.footer-link-sub-div-3{
width: 150px;
min-height: 150px;
height: fit-content;
//background: #e88c3c;
display: inline-block;
vertical-align: top;
font-size: 10px;
margin-left: 80px;
}
.footer-link-sub-div-4{
width: 155px;
min-height: 150px;
height: fit-content;
//background: #866161;
display: inline-block;
vertical-align: top;
font-size: 10px;
margin-left: 60px;
}
.heading-footer{
font-family: verdana;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: .4;
color: #540453;
margin-bottom: 10px;
}
.footer-link-sub-div-1 a,.footer-link-sub-div-2 a,.footer-link-sub-div-3 a,.footer-link-sub-div-4 a{
text-decoration: none;
font-family: verdana;
font-size: 12px;
color: #530152;
line-height: 17px;
}
.footer-link-sub-div-1 a:hover,.footer-link-sub-div-2 a:hover,.footer-link-sub-div-3 a:hover,.footer-link-sub-div-4 a:hover{
color: #2378e8;
text-shadow: 0px 0px 2px white;
}
.debit-cards-div{
//background: hotpink;
height: fit-content;
min-height: 35px;
width: 955px;
margin-top: 20px;
}
.first-card-div{
display: inline-block;
height: fit-content;
min-height: 27px;
width: 100px;
margin-left: 38px;
//background: white;
text-transform: uppercase;
font-family: verdana;
font-weight: bold;
color: #870687;
font-size: 15px;
padding-top: 10px;
}
.card-image-div{
height: fit-content;
min-height: 37px;
width: 336px;
//background: white;
display: inline-block;
vertical-align: top;
margin-left: 54px;
font-size: 0px;
}
.card-imgs{
cursor: pointer;
margin-left: 7px;
margin-top: 6px;
margin-bottom: 6px;
}
.card-imgs:hover{
transform:scale(1.1);
transition: all .1s ease-in;
}
.fb-like-div{
height: fit-content;
//background: antiquewhite;
width: 358px;
min-height: 20px;
display: inline-block;
vertical-align: top;
margin-left: 60px;
margin-top: 8px;
}
.like-img{
border-radius: 5px;
cursor:pointer;
}
.fb-img{
vertical-align: top;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
cursor:pointer;
}
.fb-img:hover{
transform:scale(1.2);
transition: all .1s ease-in;
}
.like-img:hover{
transform:scale(1.1);
transition: all .1s ease-in;
}
.like-p{
display: inline-block;
//background: aqua;
font-family: verdana;
font-size: 9px;
margin-top: 5px;
vertical-align: top;
}
.copyright{
font-family: verdana;
text-align: center;
font-size: 11px;
margin-top: 25px;
}
.copyright a{
text-decoration:none;
color:black;
}
.copyright a:hover{
color: #04618e;
text-shadow: 0px 0px 2px white;
}
.amen{
text-transform:uppercase;
}



















